.container {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  margin: 20px auto;
  width: 768px;
  height: 528px;
  position: relative;
}

canvas {
	display: block;
  	border: 1px solid black;
}


.namePlate {
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	color: white;
	font-family: 'VT323';
	font-size: 18px;
	width: 100px;
	margin-left: -50px;
	text-transform: uppercase;
}

.ms {
	font-family: 'VT323';
	font-size: 20px;
	text-align: left;
	text-align: center;
}

.instructions {
	font-family: 'VT323';
	font-size: 20px;
	text-align: left;
	text-align: center;
}

.roomCover {
	position: absolute;
	top: 0px;
	left: 0px;
}

h1 {
	font-family: 'VT323';
}

li {
	font-family: 'VT323';
}