.container {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  margin: 20px auto;
  width: 768px;
  height: 528px;
  position: relative;
}


.statusBar {
	background: black;
	width: 100%;
	height: 110px;
}

.statusBar .map {
	float: left;
	width: 172px;
	height: 110px;
}

.statusBar table {
	margin: 0 auto;
	margin-top: 30px;
}

.statusBar .map td {
	background: #4240ff;
	margin: 1px;
	width: 14px;
	height: 6px;
	position: relative;
}

.statusBar .map td.current:after {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	background: #88d800;
	top: 0px;
	position: absolute;
	left: 4px;
}

.statusBar .consumables {
	float: left;
	height: 110px;
	width: 150px;
}

canvas {
	display: block;
  	border: 1px solid black;
}


.namePlate {
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	color: white;
	font-family: 'VT323';
	font-size: 18px;
	width: 100px;
	margin-left: -50px;
	text-transform: uppercase;
}

.ms {
	font-family: 'VT323';
	font-size: 20px;
	text-align: left;
	text-align: center;
}

.instructions {
	font-family: 'VT323';
	font-size: 20px;
	text-align: left;
	text-align: center;
}

.roomCover {
	position: absolute;
	top: 110px;
	left: 0px;
}

h1 {
	font-family: 'VT323';
}

li {
	font-family: 'VT323';
}